/*  Name: Kevin Key
	Date Created: 1/6/19
	Last Edit: 1/10/19 */

/*  I only addressed the header and footer with the external style sheet as
    directed in one of the earlier Restaurant Site modules. Everything else
    is internal */

nav .btn {
	background-color: #5b7d70;
	color: #fef9ff;
	margin-right: 8px;
}

header, footer {
	font-family: 'Slabo 27px', serif;
	text-align: center;
	margin-top: 5px;
}

header, footer {
	text-align: center;
}

nav a {
	padding-right: 15px;
}

/* Visited links are green, ONLY hovered (not even active) links are bold font,
and active links are not under lined */
a:link {
	color: blue;
}

a:visited {
	color: green;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
	font-weight: normal;
}